<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Creaous.LenovoDriverManager.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Creaous.LenovoDriverManager.Properties.Settings>
      <setting name="updateProduct" serializeAs="String">
        <value>3670</value>
      </setting>
      <setting name="updateBranch" serializeAs="String">
        <value>main</value>
      </setting>
      <setting name="updateKey" serializeAs="String">
        <value />
      </setting>
    </Creaous.LenovoDriverManager.Properties.Settings>
  </userSettings>
</configuration>